body {
margin: 0;
padding: 0;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background: linear-gradient(to right, #ffecd2, #fcb69f);
background-image: url(https://i.pinimg.com/736x/d6/a4/05/d6a405c217618b32d8799976be886ce4.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

.quote-container {
padding: 2.5rem 3rem;
text-align: center;
max-width: 30rem;
width: 90%;
}

h1 {
font-size: 2rem;
color: #333;
margin-bottom: 1.5rem;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
letter-spacing: 0.1rem;
}

#quotes {
font-size: 1.25rem;
color: #555;
margin-bottom: 2rem;
line-height: 1.6;
font-family: a;
}

button {
background-color: brown;
color: #fff;
border: none;
padding: 1rem 2rem;
font-size: 1.2rem;
border-radius: 0.75rem;
cursor: pointer;
transition: all 0.3s ease;
font-family: a;
font-weight: bold;
}

button:hover {
background-color: #ff4c3b;
transform: scale(1.05);
}


/* Media queries */
@media (max-width: 475px) {
.quote-container {
padding: 1.5rem 2rem;
}


h1 {
    font-size: 1.3rem;
    margin-top: -20px;
    
}

#quotes {
    font-size: 0.9rem;
}

button {
    padding: 0.5rem 0.6rem;
    font-size: 0.9rem;
}



}
